<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/homepage.css">
    <title>JukeLink</title>
</head>
<body>
    <header>
        <nav>
                <ul>
                    <li><a id="Home" href="/"> Home </a></li>
                    <li><a id="Songs" href="/dashboard"> Songs </a></li>
                    <li><a id="Favorites" href="/favorites"> Favorites </a></li>
                </ul>
        </nav>
    </header>

    {{{body}}}

{{!--     <footer>
    <nav>
                <ul>
                    <li><a id="FAQ" href="#FAQ"> FAQ </a></li>
                    <li><a id="Contact-us" href="#Contact-us"> Contact Us </a></li>
                    <li><a id="Terms-of-ervice" href="#Terms-of-service"> Terms of Service </a></li>
                </ul>
        </nav>
    </footer> --}}
</body>
</html>