<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>JukeLink</title>
</head>
<body>
    <header>
        <header id="navbar-head" class="nav-menu-head">
    <div class="navbar-start">
      <a class="navbar-item has-text-success" href="/">Home</a>
      <a class="navbar-item has-text-success" href="/dashboard">Songs</a>
      <a class="navbar-item has-text-success" href="/favorites">Favorites</a>
    </header>
        {{!-- <nav>
                <ul>
                    <li><a id="Home" href="/"> Home </a></li>
                    <li><a id="Songs" href="/dashboard"> Songs </a></li>
                    <li><a id="Favorites" href="/favorites"> Favorites </a></li>
                </ul>
        </nav> --}}
    </header>

    {{{body}}}

    <footer>
      <div id="navbar-foot" class="nav-menu-foot">
        <div class="navbar-start">
          {{!-- <a class="navbar-item has-text-success" href="#">FAQ</a>
          <a class="navbar-item has-text-success" href="#">Contact Us</a>
          <a class="navbar-item has-text-success" href="#">Terms of Service</a> --}}
        <div>
      </div>
    </footer>
</body>
</html>