<link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">

<h1 id="top">JukeLink's Top 10 Songs</h1>

<div style="overflow-x: auto;">

<table id="table">
    <thead>
        <th> 
            Song Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Add To Favorite
        </th>
    </thead>

    <tbody>
        {{!-- 
        FROM 'router.get("/dashboard", ...)' in '/controllers/html-routes.js' :

        For each |song| in the 'songs' variable,
            render a table row that contains a song's name & artist ('song.name' & 'song.artist', respectively)
            also renders a button
         --}}
        {{#each songs as |song|}}
        <tr>
            <td>{{song.name}}</td>
            <td>{{song.artist}}</td>
            <td><button>Add To Fav</button></td>
        </tr>
        {{/each}}
        {{!-- <tr>
            <td>Song 1</td>
            <td>Artist 1</td>
            <td>Release Date 1</td>
            <td><button onclick="addToFav('Song 1')">Add To Fav</button></td>
        </tr>

        <tr>
            <td>Song 2</td>
            <td>Artist 2</td>
            <td>Release Date 2</td>
            <td><button>Add To Fav</button></td>
        </tr>

        <tr>
            <td>Song 3</td>
            <td>Artist 3</td>
            <td>Release Date 3</td>
            <td><button>Add To Fav</button></td>
        </tr> --}}
    </tbody>
</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<script>
function addToFav(name){
    $.ajax({
        url:'/addToFavorite',
        type:'POST' ,
        data:{
           name:name
        } ,
        success:function(result){
            console.log(result);
            return result;
        } 
    })
}
</script>