<h1>This is the second/mockaroo page</h1>

<table>
    <thead>
        <th>
            Song Title
        </th>
        <th>
            Artist
        </th>
        <th>Released Date</th>
        <th>Add To Favorite</th>
    </thead>
    <tbody>
    <tr>
   <td>Song 1</td>
   <td>Artist 1</td>
   <td>Release Date 1</td>
   <td><button>Add To Fav</button></td>
    </tr>

    <tr>
   <td>Song 1</td>
   <td>Artist 1</td>
   <td>Release Date 1</td>
   <td><button>Add To Fav</button></td>
    </tr>

    </tbody>
</table>