<h1 id="title"> Group 3's project </h1>

<div>
    <h2>Top Albums</h2>
    <ol>
        <li>Song1</li>
        <li>Song2</li>
        <li>Song3</li>
        <li>Song4</li>
        <li>Song5</li>
    </ol>
</div>

<h2>Login</h2>
<form> <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>

  </div> 
  </form>

  <h2>Sign Up</h2>
<form> <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Sign Up</button>

  </div> 
  </form>