<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<section class="hero is-fullheight" style="background-color: black;">

<h1 class="has-text-success is-size-1" id="title"> Welcome to JukeLink </h1>

<h2 class="has-text-success is-size-2" id="songs"> Today's Top Songs </h2>
<div class="card-container">
  <div class="card has-text-success">
    <ol>
      <li>Song1</li>
    </ol>
  </div>
  <div class="card has-text-success">
    <ol>
      <li>Song2</li>
    </ol>
  </div>
  <div class="card has-text-success">
    <ol>
      <li>Song3</li>
    </ol>
  </div>
  <div class="card has-text-success">
    <ol>
      <li>Song4</li>
    </ol>
  </div>
  <div class="card has-text-success">
    <ol>
      <li>Song5</li>
    </ol>
  </div>
</div>

<div class="row justify-space-between-md columns is-centered is-vcentered">
  <div class="login-card">
    <h2 class="page-title has-text-success">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="has-text-success">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="has-text-success">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title has-text-success">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup" class="has-text-success">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="has-text-success">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="has-text-success">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

{{!-- <h2>Login</h2>
<form> 
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>

  </div> 
</form>

<h2>Sign Up</h2>
<form> 
  <div class="container">

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Sign Up</button>

  </div> 
</form> --}}