<h1 id="title"> Welcome to JukeLink </h1>

<h2 id="songs"> Today's Top Songs </h2>
<div class="card-container">
  <div class="card">
    <ol>
      <li>Song1</li>
    </ol>
  </div>
  <div class="card">
    <ol>
      <li>Song2</li>
    </ol>
  </div>
  <div class="card">
    <ol>
      <li>Song3</li>
    </ol>
  </div>
  <div class="card">
    <ol>
      <li>Song4</li>
    </ol>
  </div>
  <div class="card">
    <ol>
      <li>Song5</li>
    </ol>
  </div>
</div>

<h2 id="login">Login</h2>
<form> <div id="user" class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>

  </div> 
  </form>

  <h2 id="signup">Sign Up</h2>
<form> <div id="pass" class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Sign Up</button>

  </div> 
  </form>